

rect {
/*    fill: gray;
    stroke-width:3;
    stroke:red;*/
}

/*#carte {
	width:728px;
	height:428px;
	margin:0 auto;
}*/
svg {
	padding-left: -200px;
    background-color:rgb(198,221,241);
    margin:0 auto;
    display:block;
}
